# SD2E TACC.Cloud variables
#
# Human-readable name of your TACC Cloud API tenant

# Source this before running any make commands

# Human-readable name for your project
export TENANT_NAME="DARPA SD2E"

# Tenant shortname (see https://tacc.cloud/tenants for options)
export TENANT_KEY=sd2e

# Namespace for custom executable assets
export TENANT_NS=sd2e

# TACC Community project (for access to default resources)
export TENANT_PROJECT=SD2E-Community

# Docker
# Dockerfile for building the CLI image
export TENANT_DOCKERFILE=Dockerfile
# DockerHub virtual organization
export TENANT_DOCKER_ORG=sd2e
# Docker image tag
export TENANT_DOCKER_TAG=cloud-cli
# Docker image version
# This comes from the VERSION file

# Destination repository
# Repository and branch for the tenant-specific project
export TENANT_CLI_REPO=https://github.com/SD2E/sd2e-cli
export TENANT_CLI_BRANCH=master

# Optional: Set a remote repo to populate the docs/ directory
export CLI_DOCS=
export CLI_DOCS_BRANCH=
export CLI_DOCS_DEST=docs

# Optional: Set a remote repo to populate the extras directory
export CLI_EXTRAS_REPO=
export CLI_EXTRAS_BRANCH=
export CLI_EXTRAS_DEST=extras

# Dont' change below this line unless you know what you're doing!

# Submodules
export CLI_BASE_REPO=https://bitbucket.org/tacc-cic/cli
export CLI_BASE_BRANCH=master
export CLI_BASE_DEST=tacc-cli-base

export ABACO_BASE_REPO=https://github.com/TACC-Reactors/abaco-cli.git
export ABACO_BASE_BRANCH=master
export ABACO_BASE_DEST=abaco-cli

# Make support
export MAKE_OBJ=sd2e-cloud-cli
